<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View Poll</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    
    <header>
    <nav>
    <ul>
      <% if (user) {%>
      <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <% } %>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/poll">Polls</a></li>
    </ul>
      </nav>
      <% if (user) {%>
      <img src="<%=user.thumbnail %>">
    <% } %>
      </header>
    
    <main>
    <h1>
      <%= poll.title %>
    </h1>
    
      <div id="view-poll">
        
        <canvas id="chart" width="300" height="200"></canvas>
        
        <ul id="poll-results">

        
    <%
        
        
        var pollObj = JSON.parse(poll.options);
        var options = Object.keys(pollObj);
        
        for (var i = 0; i < options.length; i++) { %>
          
          <li id="<%=options[i]%>"><%=options[i]%>: <%= pollObj[options[i]] %></li>
          
       <% } %>
        </ul>
        
        
    <%
    //Vote buttons - only render if user has not voted or is not logged in

    var whoVoted = poll.voted;
    
    if (!user || whoVoted.indexOf(user.id) === -1) { %>
        
        <hr>
      
      <h3>Vote for:</h3>
    
      <% for (var i = 0; i < options.length; i++) { %>
      
        <button class="vote" id="<%=poll.id%>-<%=options[i]%>">
          <%=options[i]%>
        </button>
    
    <% } } else { %>
    
      <p>
        You have already voted on this poll!
      </p>
    
    <% } 
      
      if (user) { %>
        
      <!--Display new option form if user is logged in -->
        
        <hr>
    
        <h3>
          Add a new option:
        </h3>
        <p>
          If you don't like any of the options above, you can add a new one! Enter your choice (one option only) in the box below. 
          (Note that this will not automatically register a vote for your option. You may need to refresh the page
          to see your option above.)</p>
        </p>
    <form id="newoption-<%=poll.id%>">
      <input type="text" id="newoption">
      <button type="submit" id="submitbut">
        Submit
      </button>
    </form>
        
      <% } %>
    
    <!--Delete button only appears if the logged in user is also the poll creator -->
    
    <% if (user) {
      
      if (user.id === poll.creator) { %>
      
      <hr>
      
     <h3>
       Delete this poll:
      </h3>  
    <button class="deletepoll" id="<%= poll.id %>">
    
          Delete this poll
        </button>
        
      <% }
    } %>
      </main>
    </div>
    
  </body>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="/poll-edit.js"></script>
  <script type="text/javascript" src="/draw-chart.js"></script>
  
</html>