<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View Poll</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    
    <ul>
      <% if (user) {%>
      <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <% } %>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/poll">Polls</a></li>
    </ul>
    <% if (user) {%>
      <img src="<%=user.thumbnail %>">
    <% } %>
    
    <h1>
      <%= poll.title %>
    </h1>
    
    <p>
      <%= poll.options %>
    </p>
    
    <!-- Vote buttons - only render if user has not voted or is not logged in-->
    
    <% 
    var options = Object.keys(JSON.parse(poll.options));
    var whoVoted = poll.voted;
    
    if (!user || whoVoted.indexOf(user.id) === -1) {
    
      for (var i = 0; i < options.length; i++) { %>
      
        <button class="vote" id="<%=poll.id%>-<%=options[i]%>">
          <%=options[i]%>
        </button>
    
    <% } } else { %>
    
      <p>
        You have already voted on this poll!
      </p>
    
    <% } %>
    
    <!--Delete button only appears of the logged in user is also the poll creator -->
    
    <% if (user) {
      
      if (user.id === poll.creator) { %>
     <br /><br />   
    <button class="deletepoll" id="<%= poll.id %>">
    
          Delete this poll
        </button>
        
      <% }
    } %>
    
  </body>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="/poll-edit.js"></script>
  
</html>