<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= user.username %></title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <header>
    <nav>
    <ul>
      <% if (user) {%>
      <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <% } %>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/poll">Polls</a></li>
    </ul>
      </nav>
      <% if (user) {%>
      <img src="<%=user.thumbnail %>">
    <% } %>
      </header>
    
    <main>
    <h1>
      Welcome to your poll list, <%= user.username %>
    </h1>
      
      <div id="poll-list">
    
    <h2>
      Your Polls
    </h2>
        
        <!--include a "you haven't created any yet!" message if that is the case -->

    <a href="/poll/create">
      <button id="createbut">
        Create New
      </button>
    </a>
    
    <% for (var i = polls.length-1; i >= 0; i--) { %>
        
        <hr>
    
    <h3>
      <a href="https://jsanderson-voting.glitch.me/poll/<%= polls[i].id %> ">
      <%= polls[i].title %>
      </a>
    </h3>
    
    <p>
      <%= polls[i].options %>
    </p>
        
    
    <% } %>
        
        </div>
        
      </main>
    
  </body>
</html>